@tailwind base;
@tailwind components;
@tailwind utilities;

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800&family=Pacifico&display=swap');

:root{ --accent:#0ea5a4; }

body {
  background-color: #f8fafc; /* fallback for bg-gray-50 */
  color: #0f172a; /* text-slate-800 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.font-hand { font-family: 'Pacifico', cursive; }
